---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import type { Outline } from '@sransara/astro-adocx/utils/outline';

import siteValues from '@/site.values.js';
import type { Metadata } from '@/src/types/notes';
import BaseLayout from '@/src/layouts/baseLayout/BaseLayout.astro';
import NavBar from '@/src/astro/navBar/NavBar.astro';

interface Props {
  metadata: Metadata;
  poster: ImageMetadata;
  sourceFile?: string;
  subheading?: string;
  outline?: Outline;
}

const { metadata, poster, sourceFile, subheading } = Astro.props;

const githubSourceFile = (sourceFile: string) => {
  return `${siteValues.githubSourcePrefix}/${sourceFile}?plain=1`;
};
---

<BaseLayout title={metadata.title}>
  <Fragment slot="head">
    <meta property="og:title" content={metadata.title} />
  </Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} pageType="leaf" />
    <article>
      <h1 class="my-3 font-serif text-5xl font-bold underline">{metadata.title}</h1>
      <div class="my-2 text-xs text-gray-500">
        Note by
        <!-- prettier-ignore  -->
        <a class="text-blue-800 underline hover:text-blue-500" href="/about">{siteValues.author}</a>
        &nbsp;|&nbsp; Published
        <span class="text-gray-800">{metadata.publishedDate}</span>
        {
          metadata.updatedDate && (
            <Fragment>
              &nbsp;|&nbsp;&nbsp;Updated
              <span class="text-gray-800">{metadata.updatedDate}</span>
            </Fragment>
          )
        }
        &nbsp;|&nbsp;
        <a class="text-blue-800 underline hover:text-blue-500" href={Astro.url}>Permalink</a>
        &nbsp;|&nbsp; {
          sourceFile && (
            <a
              class="text-blue-800 underline hover:text-blue-500"
              href={githubSourceFile(sourceFile)}
            >
              Source
            </a>
          )
        }
      </div>
      <div class="my-2 flex justify-center bg-gray-600 px-5">
        <Image src={poster} alt="poster" loading="eager" />
      </div>
      {subheading && <div class="font-serif text-lg font-bold">{subheading}</div>}
      <slot />
      <hr class="my-4 border-2 border-gray-600" />
      <div class="bg-yellow-200 p-5 text-sm">
        Published by
        <span class="text-gray-800">
          <!-- prettier-ignore  -->
          <a class="text-blue-800 underline hover:text-blue-500" href="/about">{siteValues.author}</a>
        </span>
        on
        <span class="text-gray-800">{metadata.publishedDate}</span>
        &nbsp;/&nbsp;
        <a class="text-blue-800 underline hover:text-blue-500" href={Astro.url}>Permalink</a>
        &nbsp;/&nbsp; {
          sourceFile && (
            <a
              class="text-blue-800 underline hover:text-blue-500"
              href={githubSourceFile(sourceFile)}
            >
              Source
            </a>
          )
        }
      </div>
    </article>
  </Fragment>
</BaseLayout>
