---
import { format, parseISO } from 'date-fns';

import BaseLayout from '@/src/layouts/baseLayout/BaseLayout.astro';
import NavBar from '@/src/lib/astro/navBar/NavBar.astro';
import { routes } from '@/src/pages/_metas.ts';
import { groupBy } from '@/src/lib/utils.ts';

const notesGroupedByYear = groupBy(
  routes('/notes'),
  (note) => note.route.match(/^\/notes\/(?<year>\d\d\d\d)\/(?<slug>[^/]+)\/$/)?.groups?.year,
);
---

<BaseLayout title="Notes">
  <Fragment slot="head"></Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} />
    <h1 class="my-3 text-5xl font-bold">Notes</h1>
    <ul>
      {
        Object.keys(notesGroupedByYear)
          .sort((a, b) => b.localeCompare(a))
          .map((year) => (
            <li>
              <h2 class="mt-6 text-2xl">
                <a href={`/notes/${year}`}>{year}</a>
              </h2>
              <ul>
                {notesGroupedByYear[year]
                  .sort((a, b) => b.metadata.publishedDate.localeCompare(a.metadata.publishedDate))
                  .map(({ route, metadata }) => (
                    <li class="mb-3">
                      <span class="text-gray-600">
                        {format(parseISO(metadata.publishedDate), 'MMM dd, yyyy')}
                      </span>{' '}
                      ↴
                      <br />
                      <a class="text-blue-800 underline hover:text-blue-500" href={route}>
                        {metadata.title}
                      </a>
                    </li>
                  ))}
              </ul>
            </li>
          ))
      }
    </ul>
  </Fragment>
</BaseLayout>
