---
import type { AstroInstance } from 'astro';

import type { Metadata } from '@/src/lib/types/notes';
import { Image } from 'astro:assets';

import BaseLayout from '@/src/layouts/baseLayout/BaseLayout.astro';
import Asciidoc from '@/src/lib/astro/asciidoc/Asciidoc.astro';
import NavBar from '@/src/lib/astro/nav-bar/NavBar.astro';

export function getStaticPaths() {
  const metadataPaths = import.meta.glob('/src/text/notes/**/metadata.ts');
  const pathPattern = /^\/src\/text\/notes\/(?<year>\d\d\d\d)\/(?<slug>[^/]+)\/metadata.ts$/;
  return Object.entries(metadataPaths).map(([path]) => {
    const match = path.match(pathPattern);
    if (!match || !match.groups) {
      throw new Error('Invalid path globbed.');
    }

    return {
      params: {
        year: match.groups.year,
        slug: match.groups.slug,
      },
    };
  });
}

const { year, slug } = Astro.params;

const { metadata } = (await import(
  `../../../../../src/text/notes/${year}/${slug}/metadata.ts`
)) as { metadata: Metadata };
if (!metadata.publishedDate.startsWith(year || '0000')) {
  throw new Error("metadata.publishedDate and path year doesn't match");
}

const AstroEmbed = (await import(
  `../../../../../src/text/notes/${year}/${slug}/index.adoc`
)) as AstroInstance & { docattrs: any };

const poster = import(`../../../../../src/text/notes/${year}/${slug}/poster.jpg`);
---

<BaseLayout title={metadata.title}>
  <Fragment slot="head">
    <meta property="og:title" content={metadata.title} />
  </Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} pageType="leaf" />
    <article>
      <h1 class="my-3 font-serif text-5xl font-bold underline">{metadata.title}</h1>
      <div class="my-2 text-xs text-gray-500">
        Note by
        <!-- prettier-ignore  -->
        <a class="text-blue-800 underline hover:text-blue-500" href="/about">Samodya Abeysiriwardane</a>
        &nbsp;|&nbsp; Published
        <span class="text-gray-800">{metadata.publishedDate}</span>
        {
          metadata.updatedDate && (
            <Fragment>
              &nbsp;|&nbsp;&nbsp;Updated
              <span class="text-gray-800">{metadata.updatedDate}</span>
            </Fragment>
          )
        }
        &nbsp;|&nbsp;
        <!-- prettier-ignore  -->
        <a
          class="text-blue-800 underline hover:text-blue-500"
          target="_blank"
          rel="noopener noreferrer"
          href={`https://github.com/sransara/sransara.com/tree/master/src/text/notes/${year}/${slug}/`}
        >Source</a>
        &nbsp;|&nbsp;
        <a class="text-blue-800 underline hover:text-blue-500" href={Astro.url}>Permalink</a>
      </div>
      <div class="my-2 flex justify-center bg-gray-600 px-5">
        <Image src={poster} alt="Poster" />
      </div>
      {
        AstroEmbed.docattrs.doctitle && (
          <div class="font-serif text-lg font-bold">{AstroEmbed.docattrs.doctitle}</div>
        )
      }
      <Asciidoc>
        <AstroEmbed.default />
      </Asciidoc>
      <hr class="my-4 border-2 border-gray-600" />
      <div class="bg-yellow-200 p-5 text-sm">
        Published by
        <span class="text-gray-800">
          <!-- prettier-ignore  -->
          <a class="text-blue-800 underline hover:text-blue-500" href="/about">Samodya Abeysiriwardane</a>
        </span>
        on
        <span class="text-gray-800">{metadata.publishedDate}</span>
        &nbsp;/&nbsp;
        <!-- prettier-ignore  -->
        <a
          class="text-blue-800 underline hover:text-blue-500"
          target="_blank"
          rel="noopener noreferrer"
          href={`https://github.com/sransara/sransara.com/tree/master/src/text/notes/${year}/${slug}/`}
        >Source</a>
        &nbsp;/&nbsp;
        <a class="text-blue-800 underline hover:text-blue-500" href={Astro.url}>Permalink</a>
      </div>
    </article>
  </Fragment>
</BaseLayout>
