---
import { format, parseISO } from 'date-fns';

import BaseLayout from '@/src/layouts/baseLayout/BaseLayout.astro';
import NavBar from '@/src/astro/navBar/NavBar.astro';
import { routes } from '@/src/pages/_metas.ts';

export function getStaticPaths() {
  let years = routes('/notes').reduce((result, { route }) => {
    const match = route.match(/^\/notes\/(?<year>\d\d\d\d)\/(?<slug>[^/]+)\/$/);
    if (match && match.groups && match.groups.year) {
      result.add(match.groups.year);
    }
    return result;
  }, new Set<string>());
  return Array.from(years).map((year) => ({
    params: {
      year,
    },
  }));
}

const { year } = Astro.params;
if (!year) throw new Error('Invalid route');
---

<BaseLayout title={`Notes from ${year}`}>
  <Fragment slot="head"></Fragment>
  <Fragment slot="body">
    <NavBar url={Astro.url} />
    <h1 class="my-3 text-5xl font-bold">Notes from {year}</h1>
    <ul>
      {
        routes('/notes')
          .filter(({ route }) => route.startsWith(`/notes/${year}/`))
          .sort((a, b) => b.metadata.publishedDate.localeCompare(a.metadata.publishedDate))
          .map(({ route, metadata }) => (
            <li class="mb-3">
              <span class="text-gray-600">
                {format(parseISO(metadata.publishedDate), 'MMM dd, yyyy')}
              </span>{' '}
              ↴
              <br />
              <a class="text-blue-800 underline hover:text-blue-500" href={route}>
                {metadata.title}
              </a>
            </li>
          ))
      }
    </ul>
  </Fragment>
</BaseLayout>
